name: Build and Release Sultan Kernels

permissions:
  contents: write  # Allow writing to repository contents (for pushing tags)
  actions: write   # Allows triggering actions
  
on:
  workflow_dispatch:
        
jobs:
  build-kernel-gs201:
    uses: ./.github/workflows/sultan.yml
    secrets: inherit
    with:
      codename: "gs201"
      repo: "android_kernel_google_gs201"
      android_version: "android14"
      kernel_version: "6.1"
      
  build-kernel-zuma:
    uses: ./.github/workflows/sultan.yml
    secrets: inherit
    with:
      codename: "zuma"
      repo: "android_kernel_google_zuma"
      android_version: "android14"
      kernel_version: "6.1"

  build-kernel-zumapro:
    uses: ./.github/workflows/sultan.yml
    secrets: inherit
    with:
      codename: "zumapro"
      repo: "android_kernel_google_zumapro"
      android_version: "android14"
      kernel_version: "6.1"

  trigger-release:
    runs-on: ubuntu-latest
    needs:
        - build-kernel-gs201
        - build-kernel-zuma
        - build-kernel-zumapro

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

